section.team {
  padding-right: 27vw;
  color: #fff;
  
}

section.team .group {
  display: grid;
  min-height: 100vh;
  align-items: center;
}

section.team .group .heading {
  text-align: left;
}

section.team .group .sub-heading {
  /* font-size: calc(35 * (clamp(400px, 70vw, 550px) / 1080)); */
  position: relative;
  top: 2.2rem;
  text-transform: uppercase;
  color: #d10427;
  text-align: center;
  /* font-family: Poppins; */
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08938rem;
  margin-top: 2rem;
}

section.team .group .card-container .heading {
  position: relative;
  margin-bottom: 2rem;
  font-size: calc(105 * (clamp(400px, 70vw, 550px) / 1080));
  font-weight: 700;
  text-align: center;
}

/* section.team .group .heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border: 2px solid var(--red-l1);
  border-bottom-color: transparent;
} */

section.team .group {
  width: 100%;
  min-height: 100vh;
  padding: 5vh 6vw;
  background-color: #0c0c0c;
}

section.team .group .content {
  max-width: 800px;
  background-color: #0C0C0C;
}

section.team .card-container {
  display: block;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  border: 1px solid white;
  border-radius: 3%;
  background-image: linear-gradient(
    113deg,
    rgba(255, 255, 255, 0.24) 41.94%,
    rgba(224, 221, 220, 0.19) 134.55%
  );
  stroke-width: 1.001px;
  stroke: #fff;
  filter: drop-shadow(
    0px 20.020837783813477px 40.04167556762695px rgba(0, 0, 0, 0.1)
  );
  backdrop-filter: blur(10.010418891906738px);
  padding: 0.5rem 3rem;
}

section.team .card-container .card-container-flex {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section.team .card-container .card {
  display: flex;
  width: clamp(200px, 18vw, 250px);
  margin: 1.5rem 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

section.team .card-container .image {
  width: 80%;
  aspect-ratio: 1 / 1.1;
  /* border-radius: 100px; */
  overflow: hidden;
  cursor: pointer;
}
section.team .card-container .image img {
  position: relative;
  left: 50%;
  height: 100%;
  transform: translate(-50%, 0) scale(1.1);
}

section.team .card-container .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section.team .card-container .name {
  margin-top: 1rem;
  color: white;
  font-size: calc(50 * (clamp(500px, 70vw, 550px) / 1080));
  font-weight: 600;
  text-align: center;
}

section.team .card-container .post {
  width: 100%;
  padding: 0.3rem;
  margin-top: 0.4rem;
  color: var(--red-l1);
  font-size: calc(35 * (clamp(500px, 70vw, 550px) / 1080));
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  background-color: white;
}

section.team .card-container .socials {
  display: flex;
  padding: 0;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 25px;
}

section.team .card-container .socials .fa-brands {
  color: var(--red-l1);
  font-size: calc(40 * (clamp(400px, 70vw, 550px) / 1080));
}
