section.about {
  padding-right: 27vw;
  text-align: justify;
  color: #fff;
}

.section-title {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 27vw;
  color: #ff5c5c;
  background-color: var(--red-l1);
  opacity: 1;
  z-index: -1;

  writing-mode: vertical-lr;
  /* font-size: 10vw; */
  font-size: calc(400 * (60vh / 1080));
  font-style: normal;
  font-weight: 700;
  /* line-height: 256px; */
  text-align: right;
}

.section-title span {
  padding-bottom: 5%;
  position: relative;
  right: 0.2ch;
  /* left: calc(0vw + 0rem); */
}

.logo.watermark {
  position: fixed;
  left: 2vw;
  bottom: 0;
  width: 8vw;
  max-width: 100px;
  transform: none;
  background-color: transparent;
  z-index: -1;
}
.logo.watermark.mobile::before {
  display: none;
}

.logo.watermark img {
  width: 100%;
  height: 100%;
}

.logo.watermark.mobile {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: clamp(125px, 35vw, 150px);
  max-width: unset;
  padding: 0.2rem;
  background-color: white;
  transform: translate(-50%, 0);
  z-index: 1;
}
.logo.watermark.mobile::before {
  content: "";
  display: block;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background-color: white;
  transform: translate(-50%, 0);
  z-index: -1;
}

.text-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 5vh 6vw;
  background-color: #0C0C0C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-wrapper .content {
  max-width: 800px;
  max-height: 750px;
  border: 1px solid white;
  border-radius: 3%;
  background-image: linear-gradient(
    113deg,
    rgba(255, 255, 255, 0.24) 41.94%,
    rgba(224, 221, 220, 0.19) 134.55%
  );
  stroke-width: 1.001px;
  stroke: #fff;
  filter: drop-shadow(
    0px 20.020837783813477px 40.04167556762695px rgba(0, 0, 0, 0.1)
  );
  backdrop-filter: blur(10.010418891906738px);
  padding: 1rem 3rem;
}

.text-wrapper .heading {
    position: relative;
    top: 2.2rem;
  color: #d10427;
  text-align: center;
  /* font-family: Poppins; */
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08938rem;
  margin-top: 2rem;
}

.text-wrapper .sub-heading {
  font-size: calc(105 * (clamp(400px, 70vw, 550px) / 1080));
  font-weight: 700;
  text-align: center;
}

.text-wrapper .text {
  font-size: calc(35 * (clamp(500px, 70vw, 550px) / 1080));
  line-height: calc(55 * (clamp(500px, 70vw, 550px) / 1080));
  font-weight: 400;
}

.expand-btn {
  /* display: inline-block; */
  position: relative;
  /* top: 2rem; */
  /* left: 50%; */
  text-align: center;
  color: var(--red-l1);
  line-height: 36px;
  font-size: calc(28 * (clamp(500px, 70vw, 550px) / 1080));
  letter-spacing: calc(10 * (clamp(500px, 70vw, 550px) / 1080));
  /* transform: translate(37vw, -3vh); */
  /* right: 0px; */
  cursor: pointer;
  float: right;
  text-transform: uppercase;
  text-decoration: underline;
}

.expand-btn.web .arrow {
  display: none;
}
