/* custom navbar for web-view homapage */
.navbar-web{
    display: flex;
    position: absolute;
    left: 15vw;
    bottom: -4vw;
    /* flex-wrap: wrap; */
    flex-shrink:10;
    padding-right: 0vh;
    margin-left: 8vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
    transform-origin: 0 100%;
    transform:  translate(0, calc(-100% - 8rem));
    
    font-family:'Roboto Flex';
    font-weight: 520;
    font-size: 1rem;
    letter-spacing: 0.4rem;
}
@media screen and (max-width: 1400px) {
    .navbar-web
    {
    display: flex;
    position: absolute;
    left: 2vw;
    bottom: -4vw;
    /* flex-wrap: wrap; */
    flex-shrink:10;
    padding-right: 0vh;
    margin-left: 10vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
    transform-origin: 0 100%;
    transform:  translate(0, calc(-100% - 8rem));
    
    font-family:"Roboto Flex";
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    }
    
}
.navbar-web a{
    color:#fff;
    display: inline-block;
    position: relative;
    padding: 0.5rem 1.5rem;
    width: max-content;
    transition: color 0.2s;
    text-transform: uppercase;
}
.navbar-web a:after{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    bottom:-10px;
    background-color: red;
    transition : 0.3s;
}
.navbar-web a:hover:after{
    width:90%;
}
/* .navbar-web a:hover::before{
    background-color: var(--red-l1);
    width: 500px;
} */
