@import url('https://fonts.cdnfonts.com/css/molend');
@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.cdnfonts.com/css/inter');

.banner-tshirt {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background:  url('../images/tshirtbanner.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-tshirt .logo-merch {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.banner-tshirt .logo-merch img {
    height: 70px;
    position: relative;
    top: 10px;
    left: 30px;
}

.banner-tshirt .logo-merch .merch {
    width: 200px;
    font-size: 23px;
    word-wrap: break-word;
    color: white;
    font-family: molend;
    margin: 20px 15px;
}

.banner-tshirt .logo-merch .merch span {
    color: #EB0028;
    position: relative;
    top: -10px;
    font-size: 15px;
}

.tshirt {
    width: 100%;
    height: auto;
    padding:  0px  20px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
}

.tshirt .combo {
    width: 500px;
    height: 400px;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #FF2323;
    display: flex;
    font-family: gotham;
    flex-direction: column;
    justify-content: space-around;
}

.combo-offer {
    font-size: 35px;
    padding: 10px 0px 0px 0px;
}

.off {
    font-family: inter;
    color: white;
    font-weight: lighter;
    padding: 2px 0px 30px 0px;
}

.old-price {
    text-decoration-line: line-through;
}

.offer-price {
    font-size: 36px;
    padding: 3px;
}

.buy {
    font-family: inter;
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

.tshirtgroup img {
    width: 80%;

}

.tshirt .single {
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tshirt .single img {
    width: 90%;
    position: relative;
    top: -20px;
}
.combo-container , .single-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.buttonbuy{
    background-color: #FF2323;
    color:white;
    border:none;
    /* width:200px; */
    /* height:50px; */
    padding:20px 30px;
    border-radius:5px;
    cursor: pointer;
}
.single-container{
    gap:0px;
}


@media only screen and (max-width:1024px) {
    .tshirt {
        flex-direction: column;
        gap: 30px;
        /* justify-content: center; */
        padding-top:20px;
        min-height: 95vh;
    }
    .tshirt .combo{
        width:70%;
        height:auto;
     
    }
    .tshirt .single{
        width:70%;
        height:auto
    }
    
/* 
    .tshirtgroup img {
        width: 80%;
    } */
}
@media only screen and (max-width:600px){
    .tshirt .combo{
        width:80%;  
    }
    
    .tshirt .single{
        width:80%;
    }
    .tshirt .single img{
        width:95%
    }
    .banner-tshirt .logo-merch img {
        height:40px;
    }
    .banner-tshirt .logo-merch .merch{
        width: 128px;
        font-size: 14px;
        height: 40px;
        margin:15px 15px;
        
    }
    .banner-tshirt .logo-merch .merch span{
       font-size:10px;
    }
} 
@media only screen and (max-width:450px) {
    /* .tshirt .single img{
        width:120%
    } */
    .tshirt .single {
        width:100%
    }
    .tshirt .combo .combo-offer{
        font-size:28px;
    } 
    .tshirt .combo .off{
        font-size:16px;
    } 

} 